.background .bg-gallary-image{
    width: 100vw;
    filter:brightness(70%);

}

.background .text{
    color: rgb(186, 154, 207);
    letter-spacing: 1.2;
}

.outer-container{
    width: 100vw;
}
.outer-container h2{
    padding: 1rem;
    margin-left: 6%
}
.flex-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}
.flex-container img{
    margin: 10px;
    width: 320px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
